
 <!-- action usual -->
 [#if DATA_SOURCE="xidevices" || DATA_SOURCE=""#]
 <!-- table xidevices search -->
 [#if VIEW_MODE="search_xidevices" || VIEW_MODE=""#]

 <div>
	<img src="../templates/xiaomihome/img/xiaomihome.png"  width="30" height="30">
	&nbsp;&nbsp;&nbsp;
    <a class="btn btn-default" href="#api_settings" data-toggle="collapse"><i class="glyphicon glyphicon-cog"></i> <#LANG_SETUP#></a>
	&nbsp;&nbsp;&nbsp;
	[#if CYCLERUN==1#]
		<span class="label label-success" title="Статус цикла">Цикл запущен</span>
	[#else#]
		<span class="label label-danger" title="Статус цикла">Цикл остановлен</span>
	[#endif#]
 </div>
 <div class="collapse" id='api_settings'>
     &nbsp;
     <form action="?" method="post" enctype="multipart/form-data" name="frmEdit" class="form-horizontal">
         <fieldset>

             <div class="form-group">
                 <label class="control-label col-lg-6"[#if ERR_API_IP#] style="color:red;font-weight:bold"[#endif#]>
                     Gateway IP (<#LANG_OPTIONAL#>):
                 </label>
                 <div class="col-lg-4">
                     <input type="text" name="api_ip" value="<#API_IP#>" class="form-control">
                     </div>
             </div>
             <div class="form-group">
                 <label class="control-label col-lg-6"[#if ERR_API_BIND#] style="color:red;font-weight:bold"[#endif#]>
                     Server interface IP (<#LANG_OPTIONAL#>):
                 </label>
                 <div class="col-lg-4">
                     <input type="text" name="api_bind" value="<#API_BIND#>" class="form-control">
                 </div>
             </div>
             <div class="form-group">
                 <label class="control-label col-lg-6">Debug:</label>
                 <div class="col-lg-4">
                    <input type="checkbox" name="debug" value="1"[#if DEBUG="1"#] checked[#endif#]>
                 </div>
             </div>
             <div class="form-actions">
                 <button type="submit" name="subm" value="Submit" class="btn btn-primary"><#LANG_UPDATE#></button>
                 <input type="hidden" name="view_mode" value="update_settings">
                 <input type="hidden" name="mode" value="update">
             </div>
         </fieldset>
     </form>
 </div>
 &nbsp;

  [#inc xidevices_search_admin.html#]
 [#endif VIEW_MODE#]
 <!-- / table xidevices search -->
 <!-- table xidevices edit -->
 [#if VIEW_MODE="edit_xidevices"#]
   [#if ID!=""#]
   [#if TITLE!=""#]<h4>[#TITLE#]</h4>[#endif TITLE#]
<ul class="nav nav-tabs">
  <li[#if TAB=""#] class="active"[#endif#]>
   <a href="?data_source=<#DATA_SOURCE#>&view_mode=<#VIEW_MODE#>&id=<#ID#>&tab="><#LANG_GENERAL#></a>
  </li>
  <li[#if TAB="data"#] class="active"[#endif#]>
   <a href="?data_source=<#DATA_SOURCE#>&view_mode=<#VIEW_MODE#>&id=<#ID#>&tab=data">&#060#LANG_DATA#&#062</a>
  </li>
</ul>
&nbsp;<br/>
   [#endif ID#]
   [#if TAB=""#]
    [#inc xidevices_edit_default.html#]
   [#endif TAB#]
   [#if TAB="data"#]
    [#inc xidevices_edit_data.html#]
   [#endif TAB#]
 [#endif VIEW_MODE#]
 <!-- / table xidevices edit -->
 <!-- table xidevices view --> 
 [#if VIEW_MODE="view_xidevices"#]
   [#if TAB=""#]
    [#inc xidevices_view_default.html#]
   [#endif TAB#]
 [#endif VIEW_MODE#]
 <!-- / table xidevices view -->
 [#endif DATA_SOURCE#]
 <!-- action usual -->
 [#if DATA_SOURCE="xicommands"#]
 <!-- table xicommands search -->
 [#if VIEW_MODE="search_xicommands" || VIEW_MODE=""#]
  [#inc xicommands_search_admin.html#]
 [#endif VIEW_MODE#]
 <!-- / table xicommands search -->
 <!-- table xicommands edit -->
 [#if VIEW_MODE="edit_xicommands"#]
   [#inc xicommands_edit.html#]
 [#endif VIEW_MODE#]
 <!-- / table xicommands edit -->
 <!-- table xicommands view --> 
 [#if VIEW_MODE="view_xicommands"#]
   [#inc xicommands_view.html#]
 [#endif VIEW_MODE#]
 <!-- / table xicommands view -->
 [#endif DATA_SOURCE#]
